[user]
	name = Onkar
	email = onkarsathe96k@gmail.com
	signingkey = D34339A380DFFE3B
[safe]
	directory = /media/onkar/New Drive/1BKP/htdocs/charity-website -Copy
	directory = /media/onkar/New Drive/1BKP/htdocs/charity-website - Copy
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgSign = false
[gpg]
	program = gpg
[core]
	pager = delta --side-by-side
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictStyle = zdiff3
